#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.attribution {
  font-size: 15px;
  text-align: center;

  a {
    // color: hsl(228, 45%, 44%);
    color: hsl(25, 97%, 53%);
  }
}
